<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TodoListAppBg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D33F955B1BC5FA1F00E04D25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D33F956F1BC5FA1F00E04D25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D33F957A1BC5FA1F00E04D25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
